<nb-card size="medium">
    <nb-card-body>
        <div class="location">
            <span>Santiago de Chile</span>
        </div>
        <div class="date">
            <span>Jueves 29 Noviembre</span>
        </div>
        <div class="daily-forecast">
            <div class="info">
                <div class="temperature">
                    <span>20&deg;</span>
                </div>
                <div class="icon">
                    <i class="ion-ios-sunny-outline"></i>
                </div>
            </div>
            <div class="details">
                <div class="parameter">
                    <span class="parameter-name">max</span>
                    <span class="parameter-value">23&deg;</span>
                </div>
                <div class="parameter">
                    <span class="parameter-name">min</span>
                    <span class="parameter-value">19&deg;</span>
                </div>
                <div class="parameter">
                    <span class="parameter-name">viento</span>
                    <span class="parameter-value">4 km/h</span>
                </div>
                <div class="parameter">
                    <span class="parameter-name">hum</span>
                    <span class="parameter-value">87%</span>
                </div>
            </div>
        </div>
        <div class="weekly-forecast">
            <div class="day">
                <span class="caption">Lunes</span>
                <i class="ion-ios-cloudy-outline"></i>
                <span class="temperature">17&deg;</span>
            </div>
            <div class="day">
                <span class="caption">Martes</span>
                <i class="ion-ios-sunny-outline"></i>
                <span class="temperature">19&deg;</span>
            </div>
            <div class="day">
                <span class="caption">Miercoles</span>
                <i class="ion-ios-rainy-outline"></i>
                <span class="temperature">22&deg;</span>
            </div>
            <div class="day">
                <span class="caption">Jueves</span>
                <i class="ion-ios-partlysunny-outline"></i>
                <span class="temperature">21&deg;</span>
            </div>
        </div>
    </nb-card-body>
</nb-card>